{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <img src="stoneassemblies-logo.png" width="100px" />
      <h1 class="mt-0 animate__animated animate__fadeInDown">{{ .Title }}</h1>
    </div>
      <div class="col-lg-9 col-xl-8 text-center">
        <p class="lead">{{ .Params.lead | safeHTML }}</p>
    <!-- 
        <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "docs/prologue/introduction/" | relURL }}" role="button">Get started</a>
        <p class="meta">Open-source MIT Licensed. <a href="https://github.com/h-enk/doks">GitHub v{{ .Site.Data.doks.version }}</a></p>
    -->
      </div> 
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <h2 class="h3 justify-content-center text-center">Services</h2>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Agile Inception</h2>
        <p>Boost your organization with methodological and technological agile process framework.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Effective Artifact Management</h2>
        <p>Effective guidance for artifact management with real traceability from source control to production.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Sci-Fi Pipelines</h2>
        <p>Enhance your team's productivity with a deployment pipeline structure that is tailored to your needs. Automate everything and deploy with downtime.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Legacy Systems Modernization</h2>
        <p>Strangling your legacy systems and convert them into a first class citizen into a brand new microservice architecture.</p>
        <p>Maximizing reusability and turning parts into scalable microservices without too much effort.</p>
      </div>
    </div>
    <h2 class="h3 justify-content-center text-center">Components</h2>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Insane Extensibility</h2>
        <p>NuGet base extensibility system for .NET applications. <a href="https://github.com/stoneassemblies/StoneAssemblies.Extensibility">StoneAssemblies.Extensibility</a> allows you easily, modularize, distribute and install your application modules.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Distributed Authorization</h2>
        <p>Enjoy building your own  distributed, extensible and message based authorization framework with <a href="https://github.com/stoneassemblies/StoneAssemblies.MassAuth">StoneAssemblies.MassAuth</a>.</p>
        <p>Built on top of MassTransit, allows you to improve the responsiveness and throughput, from a loosely coupled and a message-driven approach.
        </p>
      </div>
    </div>
    <!-- <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Full text search</h2>
        <p>Search your Doks site with FlexSearch. Easily customize index settings and search options to your liking.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Page layouts</h2>
        <p>Build pages with a landing page, blog, or documentation layout. Add custom sections and components to suit your needs.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Dark mode</h2>
        <p>Switch to a low-light UI with the click of a button. Change colors with variables to match your branding.</p>
      </div>
    </div> -->
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
